.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.body {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 83%, #000 98%), linear-gradient(#000 8%, rgba(0, 0, 0, 0) 29%), radial-gradient(circle, rgba(0, 0, 0, 0), #000), url('../images/封面.png');
  background-position: 0 0, 0 0, 0 0, 50% 60%;
  background-size: auto, auto, auto, cover;
}

.heading {
  color: #ec6c30;
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
}

.paragraph {
  color: #ec6c30;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.paragraph-2 {
  color: #ec6c30;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  font-size: 17px;
}

.paragraph-i {
  color: #ec6c30;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 17px;
}

.bold-text, .bold-text-2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.button {
  color: #000;
  text-align: center;
  -webkit-text-stroke-color: black;
  text-shadow: 0 1px 1px #000;
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle, #ec6c30 34%, rgba(0, 0, 0, 0) 75%);
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}

.quick-stack {
  margin-top: 170px;
}

.div-block {
  padding-bottom: 355px;
}

.f-account-link {
  color: #ec6c30;
  font-weight: 700;
  text-decoration: underline;
}

.f-paragraph-small {
  color: #643;
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-paragraph-small.f-text-color-gray-500 {
  color: #643;
  -webkit-text-stroke-color: #da7647;
}

.f-success-message {
  color: #006638;
  letter-spacing: -.03em;
  background-color: #ebfff6;
  font-size: 14px;
  line-height: 24px;
}

.f-button-neutral {
  min-height: 48px;
  color: #000;
  text-align: center;
  letter-spacing: -.02em;
  -webkit-text-fill-color: inherit;
  background-color: #ec6c30;
  background-clip: border-box;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral:hover {
  background-color: #643;
}

.f-account-form-button {
  flex-direction: column;
  margin-top: 32px;
  display: flex;
}

.f-field-input {
  min-height: 48px;
  border: 1px solid #e4e6f1;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 12px 16px;
  transition: all .2s;
}

.f-field-input:focus {
  border-color: #b6b9ce;
}

.f-field-input::-ms-input-placeholder {
  color: #643;
}

.f-field-input::placeholder {
  color: #643;
}

.f-field-label {
  color: #ec6c30;
  letter-spacing: -.01em;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.f-field-wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.f-account-input-grid {
  grid-template-columns: 1fr;
}

.f-account-form-block {
  margin-bottom: 42px;
}

.f-text-color-gray-500 {
  color: #6b7094;
}

.f-margin-bottom-24 {
  margin-bottom: 24px;
}

.f-h5-heading {
  color: #ec6c30;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.4;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-account-content-wrapper {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.f-account-container-r {
  width: 60%;
  background-color: #000;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 5%;
  display: flex;
  position: relative;
}

.f-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-account-image-wrapper {
  width: 50%;
  background-color: #f3f5fb;
}

.f-account-section {
  height: 100vh;
  min-height: 900px;
  display: flex;
  position: relative;
}

.f-account-link-2 {
  color: #ec6c30;
  font-weight: 700;
  text-decoration: none;
}

.f-paragraph-small-2 {
  color: #643;
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-paragraph-small-2.f-text-color-gray-500 {
  color: #643;
}

.f-button-neutral-2 {
  min-height: 48px;
  color: #000;
  text-align: center;
  letter-spacing: -.02em;
  background-color: #ec6c30;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral-2:hover {
  background-color: #643;
}

.f-checkbox-label {
  color: #ec6c30;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.f-checkbox {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-width: 2px;
  border-color: #b6b9ce;
  border-radius: 4px;
  margin: 0 8px 0 0;
}

.f-checkbox.w--redirected-checked {
  background-color: #160042;
  background-size: 12px;
  border-style: none;
  border-radius: 4px;
}

.f-checkbox.w--redirected-focus {
  box-shadow: none;
}

.f-checkbox-field {
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.f-field-input-2 {
  min-height: 48px;
  border: 1px solid #e4e6f1;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 12px 16px;
  transition: all .2s;
}

.f-field-input-2:focus {
  border-color: #b6b9ce;
}

.f-field-input-2::-ms-input-placeholder {
  color: #643;
}

.f-field-input-2::placeholder {
  color: #643;
}

.f-field-label-2 {
  color: #ec6c30;
  letter-spacing: -.01em;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.f-margin-bottom-25 {
  margin-bottom: 24px;
}

.f-h5-heading-2 {
  color: #ec6c30;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.4;
}

.f-account-content-wrapper-2 {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.f-account-container-r-2 {
  width: 60%;
  background-color: #000;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 5%;
  display: flex;
  position: relative;
}

.body-2 {
  background-color: #000;
}

.heading-2 {
  color: #ec6c30;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.video {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  .f-paragraph-small {
    color: #643;
  }

  .f-paragraph-small.f-text-color-gray-500 {
    color: #d6845d;
  }

  .f-account-container-r {
    width: 60%;
  }

  .f-account-image-wrapper {
    width: 40%;
  }

  .f-account-section {
    height: auto;
  }

  .f-account-container-r-2 {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .f-account-container-r {
    width: 100%;
    justify-content: center;
  }

  .f-account-image-wrapper {
    width: 100%;
    height: 600px;
  }

  .f-account-section {
    flex-direction: column;
  }

  .f-account-container-r-2 {
    width: 100%;
    justify-content: center;
  }
}

#w-node-b10438bb-303a-7294-825b-d4f014cd79b7-e6e7df0b {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#w-node-f187b33a-0500-960c-dedc-72f1c0af7d54-e6e7df0b, #w-node-_296cd284-505f-b8b4-9009-a2fadc6b22b2-e6e7df0b, #w-node-ad9632c2-9add-8df9-7242-b00d8367c1d4-e6e7df0b, #w-node-a4d95a9e-7de4-206e-a081-8110bea4f80d-e6e7df0b, #w-node-_36e7f2e6-0197-12ca-a01e-651fb78fe763-e6e7df0b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
