.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userformpagewrap {
  height: 100vh;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: underline;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.quick-stack {
  height: 100vh;
  min-height: 900px;
}

.cell {
  flex-wrap: nowrap;
  display: block;
}

.log-in-form-block {
  width: 50%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.cell-2 {
  flex-direction: column;
  align-items: center;
}

.background-video-2 {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.heading {
  color: #ed6c2f;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 0%;
  font-size: 65px;
  text-decoration: underline;
  display: flex;
}

.heading-2 {
  color: #ed6c2f;
  text-align: left;
  margin-bottom: 20px;
}

.field-label, .field-label-2, .link-block {
  color: #ed6c2f;
}

.submit-button {
  background-color: #ed6c2f;
  margin-bottom: 10px;
}

.log-in-form {
  width: 100%;
  max-width: 400px;
  object-fit: fill;
  flex: 0 auto;
  align-self: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.link-block-2 {
  flex-direction: column;
  flex: 0 auto;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  display: block;
}

.user-email-field, .user-password-field {
  margin-bottom: 15px;
}

.div-block {
  margin-bottom: 70px;
}

.heading-3 {
  color: #ed6c2f;
  text-align: left;
  margin-bottom: 20px;
}

.checkbox-label {
  margin-bottom: 10px;
}

.cell-3 {
  display: block;
}

.background-video-3 {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.quick-stack-2 {
  height: 100vh;
  min-height: 900px;
}

.cell-4 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.link-block-3 {
  align-self: flex-start;
  margin-left: 5%;
}

.heading-4 {
  color: #ed6c2f;
  font-size: 65px;
  text-decoration: underline;
}

.field-label-3, .field-label-4, .field-label-5 {
  color: #ed6c2f;
}

.submit-button-2 {
  background-color: #ed6c2f;
}

.link-block-4, .link-block-5, .link-block-6 {
  color: #ed6c2f;
}

.sign-up-form-block {
  width: 50%;
  max-width: 400px;
  flex: 0 auto;
  align-self: center;
  margin: auto 0;
  padding-left: 0;
  padding-right: 0;
}

.div-block-2 {
  margin-bottom: 70px;
}

.submit-button-3, .submit-button-4 {
  background-color: #ed6c2f;
}

.heading-5 {
  color: #ed6c2f;
}

.paragraph {
  color: #000;
}

.field-label-6, .heading-6, .field-label-7 {
  color: #ed6c2f;
}

.submit-button-5 {
  background-color: #ed6c2f;
}

.link-block-7, .heading-7, .field-label-8, .field-label-9, .heading-8 {
  color: #ed6c2f;
}

.submit-button-6 {
  background-color: #ed6c2f;
}

.heading-9, .heading-10 {
  color: #ed6c2f;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button-primary {
  color: #ed6c2f;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar-no-shadow {
  background-color: #ed6c2f;
  position: static;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 90%;
  max-width: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.heading-11 {
  color: #fff;
  font-size: 65px;
}

.div-block-3 {
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 20px auto 5px;
  display: flex;
}

.div-block-4 {
  width: 50%;
  height: auto;
  object-fit: fill;
  margin: 20px 20px 20px auto;
}

.div-block-5 {
  width: 50%;
  height: auto;
  margin: 20px auto 20px 20px;
}

.background-video-6 {
  width: 40vw;
  height: 40vw;
  min-height: 40px;
  min-width: 40vh;
}

.bold-text {
  width: 45vw;
  color: #ed6c2f;
  font-size: 35px;
  font-weight: 700;
}

.bold-text-2 {
  width: 45vw;
  color: #ed6c2f;
}

.text-block {
  width: 40vw;
  color: #ed6c2f;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.button {
  width: 25vw;
  background-color: #ed6c2f;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
}

.text-block-2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.logos-quote-block {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.clients-wrapper-two {
  max-width: none;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-card {
  width: 50%;
  background-color: rgba(0, 0, 0, .1);
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.clients-quote {
  color: #ed6c2f;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.clients-info {
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.clients-info-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 24px;
}

.clients-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.clients-image-two {
  width: 113px;
  height: 55px;
}

.footer-dark {
  background-color: #ed6c2f;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-brand {
  text-decoration: none;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #fff;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.container-2 {
  width: 75%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-image-2 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-slider-large-2 {
  background-color: rgba(0, 0, 0, .1);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.testimonial-slider-two-2 {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-slide-2 {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 12px 64px;
  display: flex;
}

.testimonial-content-2 {
  max-width: 460px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0;
  display: flex;
}

.testimonial-quote-icon-2 {
  margin-bottom: 24px;
}

.testimonial-quote-2 {
  color: #ed6c2f;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.testimonial-info-two-2 {
  align-items: center;
  display: flex;
}

.testimonial-author-name-2 {
  color: #ed6c2f;
  font-weight: 700;
}

.testimonial-author-image-three-2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.testimonial-slider-arrow-2 {
  display: none;
}

.testimonial-slider-nav-2 {
  mix-blend-mode: normal;
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.text-block-4 {
  color: #ed6c2f;
  font-weight: 700;
}

.text-block-5, .text-block-6 {
  color: #ed6c2f;
}

.heading-12 {
  color: #fff;
  text-decoration: none;
}

.heading-13 {
  color: #ed6c2f;
}

.link {
  color: #ed6c2f;
  text-decoration: underline;
}

.link-2 {
  color: #ed6c2f;
}

.container-3 {
  width: 80%;
  max-height: none;
  max-width: none;
  min-height: auto;
  min-width: auto;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.heading-14 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}

.collection-list {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
  display: flex;
}

.container-4 {
  width: 90%;
  max-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.collection-list-wrapper, .div-block-6 {
  background-color: #ed6c2f;
}

.heading-15 {
  color: #fff;
  margin-bottom: 0;
  padding: 5px;
  font-size: 30px;
}

.cell-5 {
  justify-content: center;
  align-items: center;
}

.quick-stack-3 {
  width: auto;
  align-self: auto;
}

.quick-stack-4 {
  height: 90vh;
}

.html-embed {
  width: 65%;
  height: 65%;
  object-fit: fill;
  margin-bottom: 0;
  display: flex;
  position: static;
}

.button-2 {
  width: 30vw;
  height: 25vh;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  object-fit: fill;
  background-color: #ed6c2f;
  justify-content: center;
  align-self: auto;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  position: static;
  overflow: visible;
}

.button-3 {
  width: 30vw;
  height: 25vh;
  min-height: auto;
  min-width: auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #ed6c2f;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  display: flex;
}

.button-4 {
  width: 30vw;
  height: 25vh;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: inherit;
  background-color: #ed6c2f;
  background-clip: border-box;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  display: flex;
}

.div-block-7 {
  background-color: #ed6c2f;
}

.container-5 {
  max-width: none;
}

.html-embed-2 {
  width: 500px;
  height: 500px;
  margin-right: 0;
}

.heading-16, .link-block-8, .heading-17, .paragraph-2, .paragraph-3 {
  color: #ed6c2f;
}

.cell-6 {
  justify-content: center;
  align-items: center;
}

.heading-18 {
  color: #fff;
  font-size: 65px;
}

.div-block-8 {
  background-color: #ed6c2f;
  justify-content: space-between;
  display: flex;
}

.link-block-9 {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-decoration: none;
  display: block;
}

.cell-7 {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.html-embed-3 {
  width: 100%;
  height: 100%;
  color: #7e7e7e;
  margin: 0;
}

.body {
  font-weight: 400;
}

.html-embed-4 {
  width: 500px;
  height: 500px;
}

.div-block-10 {
  background-color: rgba(0, 0, 0, 0);
}

.cell-8 {
  justify-content: center;
  align-items: flex-end;
}

.paragraph-4 {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 24px;
}

.image {
  width: 65px;
}

.heading-21 {
  color: #000;
  font-size: 45px;
}

.paragraph-5 {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 24px;
}

.cell-9 {
  justify-content: flex-end;
  align-items: flex-start;
}

.image-2 {
  width: 65px;
}

.cell-10 {
  justify-content: center;
  align-items: flex-end;
}

.paragraph-6 {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 24px;
}

.heading-22 {
  color: #000;
  font-size: 45px;
}

.cell-11 {
  justify-content: center;
  align-items: flex-end;
}

.link-block-10 {
  margin-left: 20px;
  margin-right: 30px;
}

.div-block-13 {
  background-color: #ed6c2f;
}

.div-block-14 {
  height: auto;
}

.cell-12 {
  justify-content: center;
  align-items: flex-end;
}

.heading-23 {
  font-size: 45px;
}

.collection-list-wrapper-2 {
  width: 100vw;
  height: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 20px 40px;
  display: block;
}

.collection-list-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.link-block-11 {
  color: rgba(0, 0, 0, 0);
}

.div-block-15 {
  height: 75px;
  background-color: #ed6c2f;
}

.image-3 {
  width: 55px;
  margin-top: 0;
}

.paragraph-8 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 20px;
  text-decoration: none;
}

.link-block-12 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  text-decoration: none;
  display: block;
}

.paragraph-9 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.image-4 {
  width: 55px;
}

.html-embed-5 {
  width: 100%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.cell-13 {
  align-items: center;
}

.paragraph-10 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}

.link-block-13 {
  text-decoration: none;
}

.div-block-16 {
  height: 70px;
  color: rgba(0, 0, 0, 0);
  background-color: #ed6c2f;
}

.html-embed-6 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
}

.cell-14 {
  justify-content: center;
  align-items: center;
  display: block;
}

.quick-stack-5 {
  width: 100%;
  height: 100%;
}

.container-6 {
  width: 80vw;
  height: 40vw;
  max-width: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.html-embed-7 {
  width: 100%;
  height: 90%;
}

.background-video-7 {
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.link-block-14 {
  width: 65px;
  height: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
}

.background-video-8 {
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.link-block-15 {
  width: 65px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
}

.html-embed-8 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
  top: 92px;
}

.container-8 {
  width: 90vw;
  height: 75vh;
  max-width: none;
}

.container-9 {
  width: 90vw;
  height: 90vh;
  max-width: none;
}

.paragraph-11 {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}

.paragraph-12 {
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.div-block-18 {
  background-color: #ededed;
  margin-bottom: 40px;
}

.div-block-19 {
  margin-bottom: 0;
  padding: 10px;
}

.container-10 {
  width: 90vw;
  max-width: none;
}

.paragraph-13 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.image-5 {
  width: 55px;
  margin-bottom: 5px;
}

.paragraph-14 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.image-6 {
  margin-bottom: 5px;
}

.background-video-9 {
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.link-block-16 {
  width: 65px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
}

.paragraph-15 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.image-7 {
  margin-bottom: 5px;
}

.paragraph-16, .link-block-17, .link-3 {
  color: #ed6c2f;
}

@media screen and (max-width: 991px) {
  .log-in-form-block {
    margin-top: 50%;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .container {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .container-2 {
    max-width: 728px;
  }

  .testimonial-slide-2 {
    padding-left: 32px;
  }

  .testimonial-quote-2 {
    overflow: visible;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .logos-quote-block {
    padding: 60px 15px;
  }

  .clients-wrapper-two {
    flex-direction: column;
  }

  .clients-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .clients-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-divider {
    margin-top: 60px;
  }

  .testimonial-slider-large-2 {
    padding: 60px 15px;
  }

  .testimonial-slide-2 {
    flex-direction: column;
    padding: 23px;
  }

  .testimonial-content-2 {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .testimonial-quote-icon-2 {
    width: 50px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .container {
    max-width: none;
  }

  .clients-quote {
    font-size: 20px;
    line-height: 28px;
  }

  .clients-info-image {
    margin-right: 16px;
  }

  .clients-grid {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .container-2 {
    max-width: none;
  }

  .testimonial-quote-icon-2 {
    width: 30px;
  }

  .testimonial-quote-2 {
    font-size: 22px;
    line-height: 30px;
  }

  .testimonial-author-image-three-2 {
    margin-right: 16px;
  }
}

#w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b993-b5f1e37a, #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b994-b5f1e37a, #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b995-b5f1e37a, #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b996-b5f1e37a, #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b997-b5f1e37a, #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b998-b5f1e37a, #w-node-_71274503-72da-c84e-638c-d2ae837d66a2-837d669b, #w-node-_71274503-72da-c84e-638c-d2ae837d66a7-837d669b, #w-node-_71274503-72da-c84e-638c-d2ae837d66ae-837d669b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_17e4febc-f975-f89c-2bde-fd442bdd40a6-b648cf01 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_17e4febc-f975-f89c-2bde-fd442bdd40a7-b648cf01, #w-node-_17e4febc-f975-f89c-2bde-fd442bdd40a8-b648cf01 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ae656ba0-9a90-d7d0-6987-254a09077c6c-b648cf1a {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_45d1a71a-5fca-f9b1-3ecd-c563be132e1b-b648cf1a, #w-node-_374d027d-ad1c-daa7-7d5e-87fe3b6b2bd3-b648cf1a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a34c0f2b-69eb-1da3-740f-8013680513b9-b648cf65 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-a34c0f2b-69eb-1da3-740f-8013680513ba-b648cf65, #w-node-a34c0f2b-69eb-1da3-740f-8013680513bb-b648cf65, #w-node-_7fb7aa3c-7435-9104-9b1c-b019e1d71cfe-b648cf65 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d6a5fd5d-c651-471b-8d27-9543ff02e595-9d4af62a {
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-ae12c28d-7858-dfe9-a7f0-5232e2c000a8-9d4af62a, #w-node-_0a630c02-9198-8126-08e2-95d3a41a57e9-9d4af62a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-abe763a6-0b65-62b5-1a72-975e8eb35394-9d4af62a {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-abe763a6-0b65-62b5-1a72-975e8eb35395-9d4af62a, #w-node-a38586ef-5075-e950-490d-3129e397282f-9d4af62a, #w-node-_41130a9d-c5f5-e29e-314b-03d01113935e-9d4af62a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f0008d18-6cbe-28b7-619e-e00165e49724-65e49723 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-f0008d18-6cbe-28b7-619e-e00165e49725-65e49723, #w-node-f0008d18-6cbe-28b7-619e-e00165e49726-65e49723, #w-node-f0008d18-6cbe-28b7-619e-e00165e49729-65e49723 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b0e078aa-a3ad-bf7a-a722-c552c9830cbd-ca389366 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-b0e078aa-a3ad-bf7a-a722-c552c9830cbe-ca389366, #w-node-b0e078aa-a3ad-bf7a-a722-c552c9830cbf-ca389366 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9be0b163-4464-2648-cc4f-b24165e3c5ec-3baaab82 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_9be0b163-4464-2648-cc4f-b24165e3c5ed-3baaab82, #w-node-_5fa6ca31-9114-973d-fd96-095ad0261344-3baaab82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_62fc2fb7-04b2-29fb-a386-ceee4002f17b-dde61f68 {
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_62fc2fb7-04b2-29fb-a386-ceee4002f17d-dde61f68, #w-node-db12eca8-6412-bb44-02d3-406ab95b0328-dde61f68 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_61b3cc68-d1ba-c14a-78d0-b810b44f3caf-07437a1e {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_61b3cc68-d1ba-c14a-78d0-b810b44f3cb1-07437a1e, #w-node-b0016d07-2b4c-87bc-4664-0e9de79ed446-07437a1e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_3edc87b6-1982-08c0-19d1-1668c5a1b996-b5f1e37a {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


